.footer {
    display: flex;
    flex-wrap: wrap;
    height: 230px;
    padding: 50px 0 40px;
    color: $grey-1-l;
    font-size: 15px;

    &__logo {
        width: 65px;
        margin: 0 220px 0 0;
        color: #fff;
        font-size: 29px;
        font-weight: bold;
    }
    &__title {
        color: #fff;
        margin: 0 0 15px;
    }
    &__text {
        margin: 0 0 4px;
    }
    &__privacy {
        margin: 0;
    }
    &__icon {
        width: 16px;
        height: 16px;
        margin: 4px 4px -4px 0;
        fill: $grey-1-l;
    }
    &__email {
        display: block;
        position: relative;
        margin: 0 0 4px;
        color: #fff;
        line-height: 16px;
        text-decoration: none;
        @include underline;
        &:after {
            left: 22px;
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 255px;
        margin: 0 30px 65px 0;
        padding: 0 0 0 95px;
    }
    &__link {
        position: relative;
        color: $grey-1-l;
        text-decoration: none;
        @include underline;
        &:after {
            background-color: $grey-1-l;
        }
    }
}

@media only screen and (max-width: $break_desk) {
    .footer {
        box-sizing: border-box;
        height: 300px;
        padding: 55px 0 60px;
        font-size: 13px;

        &__logo {
            width: 100%;
            height: 30px;
            margin: 0 0 30px;
        }
        &__block {
            width: 314px;
            margin: 0 0 45px;
            padding: 0 30px 0 0;
        }
    }
}

@media only screen and (max-width: $break_tab) {
    .footer {
        height: 340px;
        padding: 35px 0 40px;
        &__logo {
            margin: 0 0 25px;
        }
        &__block {
            padding: 0;
            margin: 0 0 25px;
        }
        &__title {
            margin: 0 0 10px;
        }
    }
}