<div class="footer">
    <p class="footer__logo">
        foody
    </p>
    <div class="footer__block">
        <h3 class="footer__title">
            Who we&nbsp;are
        </h3>
        <p class="footer__text">
            Foody is&nbsp;an&nbsp;ent-to-end order management system designed for the food service industry.
        </p>
    </div>
    <div class="footer__block">
        <h3 class="footer__title">
            Get in touch
        </h3>
        <p class="footer__text">
            Need help? Have feedback? Want to partner? Email us at: <a href="mailto:info@gatherwholesale.com" target="_blank" class="footer__email">info@gatherwholesale.com</a>
        </p>
    </div>
    <p class="footer__privacy">
        &copy; 2019 foody | All rights reserved | <a href="#" class="footer__link" target="_blank" >Privacy &amp; Terms of Service</a>
    </p>
</div>