.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 60px;
    &__logo {
        width: 150px;
        height: auto;
    }
    &__menu {
        display: flex;
    }
    &__link {
        position: relative;
        margin: 0 0 0 40px;
        padding: 0 0 0 30px;
        color: #fff;
        line-height: 24px;
        text-decoration: none;
        @include underline;
        &:after {
            left: 30px;
            bottom: -5px;
            height: 3px;
        }
        &:hover {
            &:after {
                width: calc(100% - 30px);
            }
        }
        &:before {
            position: absolute;
            display: block;
            content: "";
            width: 24px;
            height: 24px;
            margin: 0 0 0 -30px;
            background-size: 24px 24px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            
        }
        &--active {
            font-weight: bold;
            cursor: default;
            &:after {
                width: calc(100% - 30px);
            }
        }
        &--rest {
            &:before {
                background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22m17.4796%2012.7788c.0775.1193.2075.184.3397.184.0755%200%20.1516-.0209.2197-.065.1872-.1217.2404-.3719.1189-.5596-.7359-1.1335-1.7664-2.0417-2.9798-2.62651-.2017-.09728-.4428-.01225-.5398.18832-.0973.20149-.0127.44299.1883.53979%201.0805.5209%201.9979%201.3297%202.653%202.339z%22%2F%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m11.3227%207.26835h.273v.25472c-4.53748.20588-8.19166%203.85983-8.39758%208.39713h-.79365c-.22371%200-.40447.1809-.40447.4044s.18076.4043.40447.4043h.78449v.0552c0%20.9082.73928%201.6475%201.64796%201.6475h14.32578c.9087%200%201.648-.739%201.6477-1.6475v-.0552h.7854c.2235%200%20.4042-.1808.4045-.4043%200-.2237-.181-.4044-.4045-.4044h-.7945c-.2059-4.5369-3.8596-8.19096-8.3966-8.39711v-.25474h.2721c.4835%200%20.8764-.3929.8764-.87595v-.51645c0-.48305-.3929-.87595-.8764-.87595h-1.3541c-.4828%200-.8759.3929-.8759.87595v.51645c0%20.48305.3929.87595.8759.87595zm0-.80872h.6662l.0113-.00016.0112.00016h.6654c.0372%200%20.0675-.03006.0675-.06723v-.51645c0-.03717-.0305-.06722-.0675-.06722h-1.3541c-.0371%200-.0672.03005-.0672.06722v.51645c0%20.03717.0301.06723.0672.06723zm-7.31469%209.46057c.21127-4.2233%203.71201-7.59461%207.98649-7.59756l.0057.00004.0056-.00004c4.2739.00298%207.7748%203.37426%207.9862%207.59756zm15.99419.8641v-.0554h-16.00429v.0554c0%20.4624.37643.8388.83923.8388h14.32576c.4628%200%20.8393-.3764.8393-.8388z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
            }
        }
        &--sup {
            &:before {
                background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20height%3D%2224%22%20viewBox%3D%220%200%2023%2024%22%20width%3D%2223%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m9.88908%205.01245c.15002-.04107.30912.02177.39062.15426l1.3004%202.11498%201.301-2.11503c.0814-.13246.2405-.19527.3905-.15421l5.5797%201.52776c.1063.0291.1927.10654.2332.20903.0404.10249.0303.21806-.0275.31191l-1.5089%202.45314%201.4639%202.37991c.0577.0939.0679.2094.0274.3119-.0404.1025-.1268.18-.2331.2091l-1.3414.3673v4.0399c0%20.1577-.1055.2959-.2576.3376l-5.575%201.5266c-.0141.004-.0286.0072-.0435.0095l-.0137.0018c-.0198.0023-.0399.0028-.0598.0017-.0279-.0016-.055-.0065-.0807-.0143l-5.57107-1.5253c-.15211-.0417-.25757-.1799-.25757-.3376v-4.038l-1.34839-.3692c-.10628-.0291-.19265-.1066-.23311-.2091-.04047-.1025-.03031-.218.02742-.3119l1.51229-2.45859-1.46053-2.37446c-.05773-.09385-.06789-.20942-.02742-.31191.04046-.10249.12683-.17993.23311-.20903zm1.29642%207.21935-.9576%201.5569c-.0815.1325-.2406.1953-.39058.1542l-3.53136-.9669v3.5794l4.87954%201.336zm-5.10115-.0422%203.68475%201.0089%201.2171-1.9787-4.87637-1.33522-1.21711%201.97872%201.11904.3064c.0252.004.04949.0108.07259.0199zm5.80115%205.7019v-5.649l.9511%201.5462c.0815.1325.2406.1953.3906.1542l3.5376-.9687v3.5812zm5.1238-5.71c.0085-.0027.0172-.0051.0259-.0071l1.136-.3111-1.2171-1.97871-4.8758%201.33511%201.2171%201.9788zm-5.4513-3.86266-4.25417%201.16493%204.23187%201.15873%204.2539-1.16489zm-1.73718-2.56193%201.21018%201.96824-4.87592%201.33505-1.2106-1.96813zm2.30188%201.97871%201.2171-1.97872%204.8764%201.33517-1.2171%201.97872z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
            }
        }
    }
}