<section class="page__section page__section--{{bg}}">
    <div class="page__container started">
        <h2 class="started__title">
            Get started today
        </h2>
        <p class="started__text started__text--mg">
            Your suppliers will receive your orders via text, email or&nbsp;fax
        </p>
        <ul class="started__list">
            <li class="started__item">
                <img
                    loading="lazy"
                    srcset="%=static=%img/content/fdy_ill_phone_1@1x.png 1x, %=static=%img/content/fdy_ill_phone_1@2x.png 2x"
                    src="%=static=%img/content/fdy_ill_phone_1@2x.png"
                    alt="Register"
                    class="started__ill"
                >
                <h3 class="started__caption">
                    Download &amp;&nbsp;Register
                </h3>
                <p class="started__text">
                    Get Choco in&nbsp;the google play or&nbsp;app store and register with your phone number
                </p>
            </li>
            <li class="started__item">
                <img
                    loading="lazy"
                    srcset="%=static=%img/content/fdy_ill_phone_2@1x.png 1x, %=static=%img/content/fdy_ill_phone_2@2x.png 2x"
                    src="%=static=%img/content/fdy_ill_phone_2@2x.png"
                    alt="Set-Up"
                    class="started__ill"
                >
                <h3 class="started__caption">
                    Get Set-Up
                </h3>
                <p class="started__text">
                    Get Choco in&nbsp;the google play or&nbsp;app store and register with your phone number
                </p>
            </li>
            <li class="started__item">
                <img
                    loading="lazy"
                    srcset="%=static=%img/content/fdy_ill_phone_3@1x.png 1x, %=static=%img/content/fdy_ill_phone_3@2x.png 2x"
                    src="%=static=%img/content/fdy_ill_phone_3@2x.png"
                    alt="Ordering"
                    class="started__ill"
                >
                <h3 class="started__caption">
                    Start Ordering
                </h3>
                <p class="started__text">
                    Start ordering products from all of&nbsp;your suppliers
                </p>
            </li>
        </ul>
    </div>
</section>