<header class="header">
    {{#if isrest}}
        {{> nav/nav nav.rest }}
    {{else}}
        {{> nav/nav nav.sup }}
    {{/if}}
    <div class="header__hero">
        <h1 class="header__title">
            {{{ title }}}
        </h1>
        <p class="header__text">
            {{{ text }}}
        </p>
        <!--
        <h3 class="header__CTA">
            Download instantly!
        </h3>
        -->
        <a href="#" class="header__button">
            iPhone
        </a>
    </div>
    <img
        srcset="%=static=%img/content/fdy_ill_{{ image }}@2x.png 2x, %=static=%img/content/fdy_ill_{{ image }}@1x.png 1x"
        src="%=static=%img/content/fdy_ill_{{ image }}@2x.png"
        alt="Tomato"
        class="header__ill header__ill--{{image}}"
    >
</header>