.header {
    position: relative;
    padding: 40px 0 50px;
    color: #fff;
    &__hero {
        width: 540px;
    }
    &__ill {
        position: absolute;
        left: 50%;
        height: auto;
        &--tomato {
            bottom: -40px;
            width: 382px;
            margin: 0 0 0 120px;
        }
        &--hand {
            bottom: 0;
            width: 781px;
            margin: 0 0 0 -100px;
        }
    }
    &__title {
        margin: 0 0 40px;
        font-size: 68px;
        letter-spacing: -1px;
    }
    &__text {
        margin: 0 0 40px;
        font-size: 22px;
    }
    &__CTA {
        margin: 0 0 30px;
        font-size: 22px;
        font-weight: bold;
    }
    &__button {
        @include button
    }
}

@media only screen and (max-width: $break_desk) {
    .header {
        &__hero {
            width: 355px;
        }
        &__title {
            margin: 0 0 20px;
            font-size: 50px;
        }
        &__text {
            margin: 0 0 30px;
            font-size: 20px;
        }
        &__ill {
            &--tomato {
                bottom: -40px;
                width: 290px;
                margin: 0 0 0 60px;
            }
            &--hand {
                width: 538px;
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width: $break_tab) {
    .header {
        &--tomato {
            padding: 40px 0 255px;
        }
        &--hand {
            padding: 40px 0 345px;
        }
        &__hero {
            width: 100%;
        }
        &__title {
            margin: 0 0 20px;
            font-size: 40px;
        }
        &__ill {
            &--tomato {
                bottom: -100px;
                width: 220px;
                margin: 0 0 0 -110px;
            }
            &--hand {
                width: 470px;
                margin: 0;
                left: -20px;
            }
        }
    }
}