.header {
    position: relative;
    padding: 40px 0 50px;
    color: #fff;
    &__hero {
        width: 540px;
    }
    &__ill {
        position: absolute;
        left: 50%;
        height: auto;
        &--tomato {
            bottom: -40px;
            width: 382px;
            margin: 0 0 0 120px;
        }
        &--hand {
            bottom: 0;
            width: 781px;
            margin: 0 0 0 -100px;
        }
    }
    &__title {
        margin: 0 0 40px;
        font-size: 68px;
        letter-spacing: -1px;
    }
    &__text {
        margin: 0 0 40px;
        font-size: 22px;
    }
    &__CTA {
        margin: 0 0 30px;
        font-size: 22px;
        font-weight: bold;
    }
    &__button {
        @include button
    }
}