<header class="header">
    {{>nav/nav nav.rest}}
    <div class="header__hero">
        <h1 class="header__title">
            {{{ title }}}Ordering wholesale ingredients from one&nbsp;place
        </h1>
        <p class="header__text">
            {{{ text }}}Place orders for your suppliers from one app. Scan your invoices for seconds. Chat with your suppliers instantly.
        </p>
        <!--
        <h3 class="header__CTA">
            Download instantly!
        </h3>
        -->
        <a href="" class="header__button">
            iPhone
        </a>
    </div>
    <img
        srcset="%=static=%img/content/fdy_ill_tomato@2x.png 2x, %=static=%img/content/fdy_ill_tomato@1x.png 1x"
        src="%=static=%img/content/fdy_ill_tomato@2x.png"
        alt="Tomato"
        class="header__ill"
    >
</header>