<form id="askform" class="form js-form">
    <!--action="https://outofcloud.us2.list-manage.com/subscribe/post?u=d0f13708a1f8b0c6bd8c474fe&amp;id=7e2ad16b78" method="POST"-->
    <div class="form__screen js-screen">
        <h2 class="form__title">Ask for any help:</h2>
        <div class="form__container">
            <input type="text" name="MMERGE1" placeholder="Bar / Restaurant" class="form__input js-name">
            <input type="email" name="EMAIL" autocomplete="email" placeholder="Email" class="form__input js-email">
            <input type="tel" name="PHONE" autocomplete="tel" placeholder="Phone" class="form__input js-tel">
        </div>
        <button class="form__button">Submit</button>
    </div>
    <div class="form__thankyou form__thankyou--hidden js-thankyou">
        <h2 class="form__title">Thank you!</h2>
    </div>
</form>