// Mixins.

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}

// You can add your own mixins here:

@mixin button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 255px;
    height: 60px;
    margin: 0 0 0 -2px;
    padding: 17px 0 19px;
    border: none;
    border-radius: 30px;
    background-color: #fff;
    color: $primary-c-2;
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    text-decoration: none;
    transition: box-shadow $timing, transform $timing;
    cursor: pointer;
    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 4px #00967A;
    }
    /*
    &:before {
        display: block;
        content: "";
        width: 24px;
        height: 24px;
        margin: 0 6px 0 0;
        background-size: 24px 24px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20width%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%2300b896%22%3E%3Cpath%20d%3D%22m19.2958%207.24591c.7179-.69701%201.2477-1.46043%201.5895-2.29058.3304-.83014.4957-1.58251.4957-2.25797%200-.04396-.0029-.09992-.0086-.16604-.006-.06611-.0086-.12112-.0086-.16604-.0113-.0332-.0256-.09409-.0427-.18296-.017-.08822-.0313-.14911-.0427-.18232-2.0053.45381-3.4293%201.27289-4.2724%202.45722-.8546%201.19512-1.299%202.61743-1.3331%204.26661.763-.06672%201.3555-.16016%201.7774-.28194.6153-.1998%201.2303-.59799%201.8455-1.19598z%22%2F%3E%3Cpath%20d%3D%22m25.1064%2020.0795c-.7862-1.0952-1.1793-2.3294-1.1793-3.7024%200-1.2505.3699-2.3958%201.1108-3.4365.3989-.5642%201.0483-1.2173%201.9484-1.9592-.5924-.7081-1.1849-1.26119-1.7774-1.66028-1.0711-.71856-2.2846-1.07918-3.6401-1.07918-.809%200-1.7946.1888-2.9568.56484-1.1167.37663-1.9313.56417-2.4438.56417-.3873%200-1.1735-.16603-2.3585-.49806-1.1964-.33208-2.2044-.49812-3.0248-.49812-1.95983%200-3.57777.79694-4.85361%202.39113-1.28753%201.616-1.93129%203.6855-1.93129%206.2088%200%202.6783.83744%205.4618%202.51242%208.351%201.69743%202.8664%203.41219%204.2995%205.14408%204.2995.5811%200%201.3328-.1882%202.2557-.5642.923-.3653%201.7316-.5478%202.4267-.5478.7406%200%201.6005.177%202.5807.5309%201.0365.3542%201.8342.531%202.3925.531%201.4581%200%202.9223-1.0845%204.3921-3.2536.9571-1.3832%201.6579-2.7671%202.1022-4.1504-1.014-.2985-1.9139-.9958-2.7-2.0916z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    }
    */
    &--inverse {
        background-color: $primary-c-2;
        color: #fff;
        transition: background-color $timing;
        &:hover {
            box-shadow: none;
            transform: none;
            background-color: $primary-c-1;
        }
        &:before {
            background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20width%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22m19.2958%207.24591c.7179-.69701%201.2477-1.46043%201.5895-2.29058.3304-.83014.4957-1.58251.4957-2.25797%200-.04396-.0029-.09992-.0086-.16604-.006-.06611-.0086-.12112-.0086-.16604-.0113-.0332-.0256-.09409-.0427-.18296-.017-.08822-.0313-.14911-.0427-.18232-2.0053.45381-3.4293%201.27289-4.2724%202.45722-.8546%201.19512-1.299%202.61743-1.3331%204.26661.763-.06672%201.3555-.16016%201.7774-.28194.6153-.1998%201.2303-.59799%201.8455-1.19598z%22%2F%3E%3Cpath%20d%3D%22m25.1064%2020.0795c-.7862-1.0952-1.1793-2.3294-1.1793-3.7024%200-1.2505.3699-2.3958%201.1108-3.4365.3989-.5642%201.0483-1.2173%201.9484-1.9592-.5924-.7081-1.1849-1.26119-1.7774-1.66028-1.0711-.71856-2.2846-1.07918-3.6401-1.07918-.809%200-1.7946.1888-2.9568.56484-1.1167.37663-1.9313.56417-2.4438.56417-.3873%200-1.1735-.16603-2.3585-.49806-1.1964-.33208-2.2044-.49812-3.0248-.49812-1.95983%200-3.57777.79694-4.85361%202.39113-1.28753%201.616-1.93129%203.6855-1.93129%206.2088%200%202.6783.83744%205.4618%202.51242%208.351%201.69743%202.8664%203.41219%204.2995%205.14408%204.2995.5811%200%201.3328-.1882%202.2557-.5642.923-.3653%201.7316-.5478%202.4267-.5478.7406%200%201.6005.177%202.5807.5309%201.0365.3542%201.8342.531%202.3925.531%201.4581%200%202.9223-1.0845%204.3921-3.2536.9571-1.3832%201.6579-2.7671%202.1022-4.1504-1.014-.2985-1.9139-.9958-2.7-2.0916z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
        }
    }
    &--large {
        width: 350px;
        height: 80px;
        padding: 23px 0 25px;
        border-radius: 40px;
        font-size: 30px;
        line-height: 38px;
        &:before {
            width: 32px;
            height: 32px;
            background-size: 32px 32px;
        }
        @media only screen and (max-width: $break_tab) {
            width: 200px;
            height: 50px;
            padding: 12px 0 14px;
            border-radius: 25px;
            font-size: 18px;
            line-height: 29px;
            &:before {
                width: 24px;
                height: 24px;
                background-size: 24px 24px;
            }
        }
    }
}

@mixin underline {
    &:after {
        position: absolute;
        left: 0;
        bottom: -2px;
        content: "";
        display: block;
        width: 0;
        height: 1px;
        background-color: #fff;
        transition: width $timing;
    }
    &:hover {
        &:after {
            width: 100%;
        }
    }
}