<article class="terms">
    <h1 class="terms__title">
        Terms and Conditions
    </h1>
    <h3 class="terms__date">
        Last updated: December&nbsp;30, 2019
    </h3>
    <p class="terms__text">
        Please read these terms and conditions carefully before using Our Service.
    </p>
    <h2 class="terms__subtitle">
        Interpretation and Definitions
    </h2>
    <h4 class="terms__caption">
        Interpretation
    </h4>
    <p class="terms__text">
        The words of&nbsp;which the initial letter is&nbsp;capitalized have meanings defined under the following
        conditions.
    </p>
    <p class="terms__text">
        The following definitions shall have the same meaning regardless of&nbsp;whether they appear in&nbsp;singular
        or&nbsp;in&nbsp;plural.
    </p>
    <h4 class="terms__caption">
        Definitions
    </h4>
    <p class="terms__text">
        For the purposes of&nbsp;these Terms and Conditions:
    </p>
    <ul class="terms__list">
        <li class="terms__item">
            <p class="terms__text">
                <span class="terms__text--strong">Application</span> means the software program provided by&nbsp;the
                Company downloaded by&nbsp;You on&nbsp;any electronic device, named Foody
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                <span class="terms__text--strong">Application Store</span> means the digital distribution service
                operated and developed by&nbsp;Apple Inc. (Apple App Store) or&nbsp;Google Inc. (Google Play Store)
                in&nbsp;which the Application has been downloaded.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                <span class="terms__text--strong">Affiliate</span> means an&nbsp;entity that controls,
                is&nbsp;controlled by&nbsp;or&nbsp;is&nbsp;under common control with a&nbsp;party, where
                &laquo;control&raquo; means ownership of&nbsp;50% or&nbsp;more of&nbsp;the shares, equity interest
                or&nbsp;other securities entitled to&nbsp;vote for election of&nbsp;directors or&nbsp;other managing
                authority.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                <span class="terms__text--strong">Account</span> means a&nbsp;unique account created for You
                to&nbsp;access our Service or&nbsp;parts of&nbsp;our Service.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                <span class="terms__text--strong">Company</span> (referred to&nbsp;as&nbsp;either &laquo;the
                Company&raquo;, &laquo;We&raquo;, &laquo;Us&raquo; or&nbsp;&laquo;Our&raquo; in&nbsp;this Agreement)
                refers to&nbsp;Foodcast, Inc., 2157 Peakview Ave, Sacramento, CA, 95835.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                <span class="terms__text--strong">Content</span> refers to&nbsp;content such as&nbsp;text, images,
                or&nbsp;other information that can be&nbsp;posted, uploaded, linked to&nbsp;or&nbsp;otherwise made
                available by&nbsp;You, regardless of&nbsp;the form of&nbsp;that content.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                <span class="terms__text--strong">Country</span> refers&nbsp;to: Delaware, United States
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                <span class="terms__text--strong">Device</span> means any device that can access the Service such
                as&nbsp;a&nbsp;computer, a&nbsp;cellphone or&nbsp;a&nbsp;digital tablet.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                <span class="terms__text--strong">Feedback</span> means feedback, innovations or&nbsp;suggestions sent
                by&nbsp;You regarding the attributes, performance or&nbsp;features of&nbsp;our Service.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                <span class="terms__text--strong">Goods</span> refer to&nbsp;the items offered for sale on&nbsp;the
                Service.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                <span class="terms__text--strong">Orders</span> mean a&nbsp;request by&nbsp;You to&nbsp;purchase Goods
                from Us.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                <span class="terms__text--strong">In-app Purchase</span> refers to&nbsp;the purchase
                of&nbsp;a&nbsp;product, item, service or&nbsp;Subscription made through the Application and subject
                to&nbsp;these Terms and Conditions and/or the Application Store&rsquo;s own terms and conditions.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                <span class="terms__text--strong">Promotions</span> refer to&nbsp;contests, sweepstakes or&nbsp;other
                promotions offered through the Service.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                <span class="terms__text--strong">Service</span> refers to&nbsp;the Application.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                <span class="terms__text--strong">Terms and Conditions</span> (also referred
                as&nbsp;&laquo;Terms&raquo;) mean these Terms and Conditions that form the entire agreement between You
                and the Company regarding the use of&nbsp;the Service.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                <span class="terms__text--strong">Third-party Social Media Service</span> means any services
                or&nbsp;content (including data, information, products or&nbsp;services) provided
                by&nbsp;a&nbsp;third-party that may be&nbsp;displayed, included or&nbsp;made available by&nbsp;the
                Service.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                <span class="terms__text--strong">You</span> means the individual accessing or&nbsp;using the Service,
                or&nbsp;the company, or&nbsp;other legal entity on&nbsp;behalf of&nbsp;which such individual
                is&nbsp;accessing or&nbsp;using the Service, as&nbsp;applicable.
            </p>
        </li>
    </ul>
    <h2 class="terms__subtitle">Acknowledgement</h2>
    <p class="terms__text">
        These are the Terms and Conditions governing the use of&nbsp;this Service and the agreement that operates
        between You and the Company. These Terms and Conditions set out the rights and obligations of&nbsp;all users
        regarding the use of&nbsp;the Service.
    </p>
    <p class="terms__text">
        Your access to&nbsp;and use of&nbsp;the Service is&nbsp;conditioned on&nbsp;Your acceptance of&nbsp;and
        compliance with these Terms and Conditions. These Terms and Conditions apply to&nbsp;all visitors, users and
        others who access or&nbsp;use the Service.
    </p>
    <p class="terms__text">
        By&nbsp;accessing or&nbsp;using the Service You agree to&nbsp;be&nbsp;bound by&nbsp;these Terms and Conditions.
        If&nbsp;You disagree with any part of&nbsp;these Terms and Conditions then You may not access the Service.
    </p>
    <p class="terms__text">
        Your access to&nbsp;and use of&nbsp;the Service is&nbsp;also conditioned on&nbsp;Your acceptance of&nbsp;and
        compliance with the Privacy Policy of&nbsp;the Company. Our Privacy Policy describes Our policies and procedures
        on&nbsp;the collection, use and disclosure of&nbsp;Your personal information when You use the Application
        or&nbsp;the Website and tells You about Your privacy rights and how the law protects You. Please read Our
        Privacy Policy carefully before using Our Service.
    </p>
    <h2 class="terms__subtitle">Placing Orders for Goods</h2>
    <p class="terms__text">
        By&nbsp;placing an&nbsp;Order for Goods through the Service, You warrant that You legally capable
        of&nbsp;entering into binding contracts.
    </p>
    <h2 class="terms__subtitle">Your Information</h2>
    <p class="terms__text">
        If&nbsp;You wish to&nbsp;place an&nbsp;Order for Goods available on&nbsp;the Service, You may be&nbsp;asked
        to&nbsp;supply certain information relevant to&nbsp;Your Order including, without limitation, Your credit card
        number, the expiration date of&nbsp;Your credit card, Your billing address, and Your shipping information.
    </p>
    <p class="terms__text">
        You represent and warrant that: (i) You have the legal right to&nbsp;use any credit or&nbsp;debit card(s)
        or&nbsp;other payment method(s) in&nbsp;connection with any Order; and that (ii) the information You supply
        to&nbsp;us is&nbsp;true, correct and complete.
    </p>
    <p class="terms__text">
        By&nbsp;submitting such information, You grant&nbsp;us the right to&nbsp;provide the information to&nbsp;payment
        processing third parties for purposes of&nbsp;facilitating the completion of&nbsp;Your Order.
    </p>
    <h2 class="terms__subtitle">Order Cancellation</h2>
    <p class="terms__text">
        We&nbsp;reserve the right to&nbsp;refuse or&nbsp;cancel Your Order at&nbsp;any time for certain reasons
        including but not limited&nbsp;to:
    </p>
    <ul class="terms__list">
        <li class="terms__item">
            <p class="terms__text">
                Goods availability
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                Errors in&nbsp;the description or&nbsp;prices for Goods
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                Errors in&nbsp;Your Order
            </p>
        </li>
    </ul>
    <p class="terms__text">
        We&nbsp;reserve the right to&nbsp;refuse or&nbsp;cancel Your Order if&nbsp;fraud or&nbsp;an&nbsp;unauthorized
        or&nbsp;illegal transaction is&nbsp;suspected.
    </p>
    <h2 class="terms__subtitle">
        Your Order Cancellation Rights
    </h2>
    <p class="terms__text">
        Any Goods you purchase can only be&nbsp;returned in&nbsp;accordance with these Terms and Conditions and Our
        Returns Policy.
    </p>
    <p class="terms__text">
        Our Returns Policy forms a&nbsp;part of&nbsp;these Terms and Conditions. Please read our Returns Policy
        to&nbsp;learn more about your right to&nbsp;cancel Your Order.
    </p>
    <p class="terms__text">
        Your right to&nbsp;cancel an&nbsp;Order only applies to&nbsp;Goods that are returned in&nbsp;the same condition
        as&nbsp;You received them. You should also include all of&nbsp;the products instructions, documents and
        wrappings. Goods that are damaged or&nbsp;not in&nbsp;the same condition as&nbsp;You received them or&nbsp;which
        are worn simply beyond opening the original packaging will not be&nbsp;refunded. You should therefore take
        reasonable care of&nbsp;the purchased Goods while they are in&nbsp;Your possession.
    </p>
    <p class="terms__text">
        We&nbsp;will reimburse You no&nbsp;later than 14&nbsp;days from the day on&nbsp;which&nbsp;We receive Your order
        cancellation notice. We&nbsp;will use the same means of&nbsp;payment as&nbsp;You used for the Order, and You
        will not incur any fees for such reimbursement.
    </p>
    <p class="terms__text">
        You will not have any right to&nbsp;cancel an&nbsp;Order for the supply of&nbsp;any of&nbsp;the following Goods:
    </p>
    <ul class="terms__list">
        <li class="terms__item">
            <p class="terms__text">
                The supply of&nbsp;Goods made to&nbsp;Your specifications or&nbsp;clearly personalized.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                The supply of&nbsp;Goods which according to&nbsp;their nature are not suitable to&nbsp;be&nbsp;returned,
                deteriorate rapidly or&nbsp;where the date of&nbsp;expiry is&nbsp;over.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                The supply of&nbsp;Goods which are not suitable for return due to&nbsp;health protection or&nbsp;hygiene
                reasons and were unsealed after delivery.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                The supply of&nbsp;Goods which are, after delivery, according to&nbsp;their nature, inseparably mixed
                with other items.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                The supply of&nbsp;digital content which is&nbsp;not supplied on&nbsp;a&nbsp;tangible medium if&nbsp;the
                performance has begun with Your prior express consent and You have acknowledged Your loss
                of&nbsp;cancellation right.
            </p>
        </li>
    </ul>
    <h2 class="terms__subtitle">
        Availability, Errors and Inaccuracies
    </h2>
    <p class="terms__text">
        We&nbsp;are constantly updating Our offerings of&nbsp;Goods on&nbsp;the Service. The Goods available on&nbsp;Our
        Service may be&nbsp;mispriced, described inaccurately, or&nbsp;unavailable, and&nbsp;We may experience delays
        in&nbsp;updating information regarding our Goods on&nbsp;the Service and in&nbsp;Our advertising on&nbsp;other
        websites.
    </p>
    <p class="terms__text">
        We&nbsp;cannot and do&nbsp;not guarantee the accuracy or&nbsp;completeness of&nbsp;any information, including
        prices, product images, specifications, availability, and services. We&nbsp;reserve the right to&nbsp;change
        or&nbsp;update information and to&nbsp;correct errors, inaccuracies, or&nbsp;omissions at&nbsp;any time without
        prior notice.
    </p>
    <h2 class="terms__subtitle">
        Prices Policy
    </h2>
    <p class="terms__text">
        The Company reserves the right to&nbsp;revise its prices at&nbsp;any time prior to&nbsp;accepting an&nbsp;Order.
    </p>
    <p class="terms__text">
        The prices quoted may be&nbsp;revised by&nbsp;the Company subsequent to&nbsp;accepting an&nbsp;Order in&nbsp;the
        event of&nbsp;any occurrence affecting delivery caused by&nbsp;government action, variation in&nbsp;customs
        duties, increased shipping charges, higher foreign exchange costs and any other matter beyond the control
        of&nbsp;the Company. In&nbsp;that event, You will have the right to&nbsp;cancel Your Order.
    </p>
    <h2 class="terms__subtitle">
        Payments
    </h2>
    <p class="terms__text">
        All Goods purchased are subject to&nbsp;a&nbsp;one-time payment. Payment can be&nbsp;made through various
        payment methods we&nbsp;have available, such as&nbsp;Visa, MasterCard, Affinity Card, American Express cards
        or&nbsp;online payment methods (PayPal, for example).
    </p>
    <p class="terms__text">
        Payment cards (credit cards or&nbsp;debit cards) are subject to&nbsp;validation checks and authorization
        by&nbsp;Your card issuer. If&nbsp;we&nbsp;do&nbsp;not receive the required authorization, We&nbsp;will not
        be&nbsp;liable for any delay or&nbsp;non-delivery of&nbsp;Your Order.
    </p>
    <h2 class="terms__subtitle">
        In-app Purchases
    </h2>
    <p class="terms__text">
        The Application may include In-app Purchases that allow you to&nbsp;buy products, services
        or&nbsp;Subscriptions.
    </p>
    <p class="terms__text">
        More information about how you may be&nbsp;able to&nbsp;manage In-app Purchases using your Device may
        be&nbsp;set out in&nbsp;the Application Store&rsquo;s own terms and conditions or&nbsp;in&nbsp;your
        Device&rsquo;s Help settings.
    </p>
    <p class="terms__text">
        In-app Purchases can only be&nbsp;consumed within the Application. If&nbsp;you make a&nbsp;In-app Purchase, that
        In-app Purchase cannot be&nbsp;cancelled after you have initiated its download. In-app Purchases cannot
        be&nbsp;redeemed for cash or&nbsp;other consideration or&nbsp;otherwise transferred.
    </p>
    <p class="terms__text">
        If&nbsp;any In-app Purchase is&nbsp;not successfully downloaded or&nbsp;does not work once it&nbsp;has been
        successfully downloaded, we&nbsp;will, after becoming aware of&nbsp;the fault or&nbsp;being notified to&nbsp;the
        fault by&nbsp;You, investigate the reason for the fault. We&nbsp;will act reasonably in&nbsp;deciding whether
        to&nbsp;provide You with a&nbsp;replacement In-app Purchase or&nbsp;issue You with a&nbsp;patch to&nbsp;repair
        the fault. In&nbsp;no&nbsp;event will&nbsp;We charge You to&nbsp;replace or&nbsp;repair the In-app Purchase.
        In&nbsp;the unlikely event that we&nbsp;are unable to&nbsp;replace or&nbsp;repair the relevant In-app Purchase
        or&nbsp;are unable to&nbsp;do&nbsp;so&nbsp;within a&nbsp;reasonable period of&nbsp;time and without significant
        inconvenience to&nbsp;You, We&nbsp;will authorize the Application Store to&nbsp;refund You an&nbsp;amount
        up&nbsp;to&nbsp;the cost of&nbsp;the relevant In-app Purchase. Alternatively, if&nbsp;You wish to&nbsp;request
        a&nbsp;refund, You may do&nbsp;so&nbsp;by&nbsp;contacting the Application Store directly.
    </p>
    <p class="terms__text">
        You acknowledge and agree that all billing and transaction processes are handled by&nbsp;the Application Store
        from where you downloaded the Application and are governed by&nbsp;that Application Store&rsquo;s own terms and
        conditions.
    </p>
    <p class="terms__text">
        If&nbsp;you have any payment related issues with In-app Purchases, then you need to&nbsp;contact the Application
        Store directly.
    </p>
    <h2 class="terms__subtitle">
        Promotions
    </h2>
    <p class="terms__text">
        Any Promotions made available through the Service may be&nbsp;governed by&nbsp;rules that are separate from
        these Terms.
    </p>
    <p class="terms__text">
        If&nbsp;You participate in&nbsp;any Promotions, please review the applicable rules as&nbsp;well as&nbsp;our
        Privacy policy. If&nbsp;the rules for a&nbsp;Promotion conflict with these Terms, the Promotion rules will
        apply.
    </p>
    <h2 class="terms__subtitle">
        User Accounts
    </h2>
    <p class="terms__text">
        When You create an&nbsp;account with Us, You must provide&nbsp;Us information that is&nbsp;accurate, complete,
        and current at&nbsp;all times. Failure to&nbsp;do&nbsp;so&nbsp;constitutes a&nbsp;breach of&nbsp;the Terms,
        which may result in&nbsp;immediate termination of&nbsp;Your account on&nbsp;Our Service.
    </p>
    <p class="terms__text">
        You are responsible for safeguarding the password that You use to&nbsp;access the Service and for any activities
        or&nbsp;actions under Your password, whether Your password is&nbsp;with Our Service or&nbsp;a&nbsp;Third-Party
        Social Media Service.
    </p>
    <p class="terms__text">
        You agree not to&nbsp;disclose Your password to&nbsp;any third party. You must notify&nbsp;Us immediately upon
        becoming aware of&nbsp;any breach of&nbsp;security or&nbsp;unauthorized use of&nbsp;Your account.
    </p>
    <p class="terms__text">
        You may not use as&nbsp;a&nbsp;username the name of&nbsp;another person or&nbsp;entity or&nbsp;that is&nbsp;not
        lawfully available for use, a&nbsp;name or&nbsp;trademark that is&nbsp;subject to&nbsp;any rights
        of&nbsp;another person or&nbsp;entity other than You without appropriate authorization, or&nbsp;a&nbsp;name that
        is&nbsp;otherwise offensive, vulgar or&nbsp;obscene.
    </p>
    <h2 class="terms__subtitle">
        Content
    </h2>
    <h4 class="terms__caption">
        Your Right to&nbsp;Post Content
    </h4>
    <p class="terms__text">
        Our Service allows You to&nbsp;post Content. You are responsible for the Content that You post to&nbsp;the
        Service, including its legality, reliability, and appropriateness.
    </p>
    <p class="terms__text">
        By&nbsp;posting Content to&nbsp;the Service, You grant&nbsp;Us the right and license to&nbsp;use, modify,
        publicly perform, publicly display, reproduce, and distribute such Content on&nbsp;and through the Service. You
        retain any and all of&nbsp;Your rights to&nbsp;any Content You submit, post or&nbsp;display
        on&nbsp;or&nbsp;through the Service and You are responsible for protecting those rights. You agree that this
        license includes the right for&nbsp;Us to&nbsp;make Your Content available to&nbsp;other users of&nbsp;the
        Service, who may also use Your Content subject to&nbsp;these Terms.
    </p>
    <p class="terms__text">
        You represent and warrant that: (i) the Content is&nbsp;Yours (You own&nbsp;it) or&nbsp;You have the right
        to&nbsp;use it&nbsp;and grant&nbsp;Us the rights and license as&nbsp;provided in&nbsp;these Terms, and (ii) the
        posting of&nbsp;Your Content on&nbsp;or&nbsp;through the Service does not violate the privacy rights, publicity
        rights, copyrights, contract rights or&nbsp;any other rights of&nbsp;any person.
    </p>
    <h4 class="terms__caption">
        Content Restrictions
    </h4>
    <p class="terms__text">
        The Company is&nbsp;not responsible for the content of&nbsp;the Service&rsquo;s users. You expressly understand
        and agree that You are solely responsible for the Content and for all activity that occurs under your account,
        whether done so&nbsp;by&nbsp;You or&nbsp;any third person using Your account.
    </p>
    <p class="terms__text">
        You may not transmit any Content that is&nbsp;unlawful, offensive, upsetting, intended to&nbsp;disgust,
        threatening, libelous, defamatory, obscene or&nbsp;otherwise objectionable. Examples of&nbsp;such objectionable
        Content include, but are not limited&nbsp;to, the following:
    </p>
    <ul class="terms__list">
        <li class="terms__item">
            <p class="terms__text">
                Unlawful or&nbsp;promoting unlawful activity.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                Defamatory, discriminatory, or&nbsp;mean-spirited content, including references or&nbsp;commentary about
                religion, race, sexual orientation, gender, national/ethnic origin, or&nbsp;other targeted groups.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                Spam, machine&nbsp;&mdash; or&nbsp;randomly&nbsp;&mdash; generated, constituting unauthorized
                or&nbsp;unsolicited advertising, chain letters, any other form of&nbsp;unauthorized solicitation,
                or&nbsp;any form of&nbsp;lottery or&nbsp;gambling.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                Containing or&nbsp;installing any viruses, worms, malware, trojan horses, or&nbsp;other content that
                is&nbsp;designed or&nbsp;intended to&nbsp;disrupt, damage, or&nbsp;limit the functioning of&nbsp;any
                software, hardware or&nbsp;telecommunications equipment or&nbsp;to&nbsp;damage or&nbsp;obtain
                unauthorized access to&nbsp;any data or&nbsp;other information of&nbsp;a&nbsp;third person.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                Infringing on&nbsp;any proprietary rights of&nbsp;any party, including patent, trademark, trade secret,
                copyright, right of&nbsp;publicity or&nbsp;other rights.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                Impersonating any person or&nbsp;entity including the Company and its employees or&nbsp;representatives.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                Violating the privacy of&nbsp;any third person.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                False information and features.
            </p>
        </li>
    </ul>
    <p class="terms__text">
        The Company reserves the right, but not the obligation, to, in&nbsp;its sole discretion, determine whether
        or&nbsp;not any Content is&nbsp;appropriate and complies with this Terms, refuse or&nbsp;remove this Content.
        The Company further reserves the right to&nbsp;make formatting and edits and change the manner any Content. The
        Company can also limit or&nbsp;revoke the use of&nbsp;the Service if&nbsp;You post such objectionable Content.
    </p>
    <p class="terms__text">
        As&nbsp;the Company cannot control all content posted by&nbsp;users and/or third parties on&nbsp;the Service,
        you agree to&nbsp;use the Service at&nbsp;your own risk. You understand that by&nbsp;using the Service You may
        be&nbsp;exposed to&nbsp;content that You may find offensive, indecent, incorrect or&nbsp;objectionable, and You
        agree that under no&nbsp;circumstances will the Company be&nbsp;liable in&nbsp;any way for any content,
        including any errors or&nbsp;omissions in&nbsp;any content, or&nbsp;any loss or&nbsp;damage of&nbsp;any kind
        incurred as&nbsp;a&nbsp;result of&nbsp;your use of&nbsp;any content.
    </p>
    <h4 class="terms__caption">
        Content Backups
    </h4>
    <p class="terms__text">
        Although regular backups of&nbsp;Content are performed, the Company do&nbsp;not guarantee there will
        be&nbsp;no&nbsp;loss or&nbsp;corruption of&nbsp;data.
    </p>
    <p class="terms__text">
        Corrupt or&nbsp;invalid backup points may be&nbsp;caused&nbsp;by, without limitation, Content that
        is&nbsp;corrupted prior to&nbsp;being backed up&nbsp;or&nbsp;that changes during the time a&nbsp;backup
        is&nbsp;performed.
    </p>
    <p class="terms__text">
        The Company will provide support and attempt to&nbsp;troubleshoot any known or&nbsp;discovered issues that may
        affect the backups of&nbsp;Content. But You acknowledge that the Company has no&nbsp;liability related
        to&nbsp;the integrity of&nbsp;Content or&nbsp;the failure to&nbsp;successfully restore Content
        to&nbsp;a&nbsp;usable state.
    </p>
    <p class="terms__text">
        You agree to&nbsp;maintain a&nbsp;complete and accurate copy of&nbsp;any Content in&nbsp;a&nbsp;location
        independent of&nbsp;the Service.
    </p>
    <h2 class="terms__subtitle">
        Copyright Policy
    </h2>
    <h4 class="terms__caption">
        Intellectual Property Infringement
    </h4>
    <p class="terms__text">
        We&nbsp;respect the intellectual property rights of&nbsp;others. It&nbsp;is&nbsp;Our policy to&nbsp;respond
        to&nbsp;any claim that Content posted on&nbsp;the Service infringes a&nbsp;copyright or&nbsp;other intellectual
        property infringement of&nbsp;any person.
    </p>
    <p class="terms__text">
        If&nbsp;You are a&nbsp;copyright owner, or&nbsp;authorized on&nbsp;behalf of&nbsp;one, and You believe that the
        copyrighted work has been copied in&nbsp;a&nbsp;way that constitutes copyright infringement that is&nbsp;taking
        place through the Service, You must submit Your notice in&nbsp;writing to&nbsp;the attention of&nbsp;our
        copyright agent via email at&nbsp;info@foody.market and include in&nbsp;Your notice a&nbsp;detailed description
        of&nbsp;the alleged infringement.
    </p>
    <p class="terms__text">
        You may be&nbsp;held accountable for damages (including costs and attorneys&rsquo; fees) for misrepresenting
        that any Content is&nbsp;infringing Your copyright.
    </p>
    <h4 class="terms__caption">
        DMCA Notice and DMCA Procedure for Copyright Infringement Claims
    </h4>
    <p class="terms__text">
        You may submit a&nbsp;notification pursuant to&nbsp;the Digital Millennium Copyright Act (DMCA)
        by&nbsp;providing our Copyright Agent with the following information in&nbsp;writing (see 17&nbsp;U.S.C
        512&copy;(3) for further detail):
    </p>
    <ul class="terms__list">
        <li class="terms__item">
            <p class="terms__text">
                An&nbsp;electronic or&nbsp;physical signature of&nbsp;the person authorized to&nbsp;act on&nbsp;behalf
                of&nbsp;the owner of&nbsp;the copyright&rsquo;s interest.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                A&nbsp;description of&nbsp;the copyrighted work that You claim has been infringed, including the URL
                (i.e., web page address) of&nbsp;the location where the copyrighted work exists or&nbsp;a&nbsp;copy
                of&nbsp;the copyrighted work.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                Identification of&nbsp;the URL or&nbsp;other specific location on&nbsp;the Service where the material
                that You claim is&nbsp;infringing is&nbsp;located.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                Your address, telephone number, and email address.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                A&nbsp;statement by&nbsp;You that You have a&nbsp;good faith belief that the disputed use is&nbsp;not
                authorized by&nbsp;the copyright owner, its agent, or&nbsp;the law.
            </p>
        </li>
        <li class="terms__item">
            <p class="terms__text">
                A&nbsp;statement by&nbsp;You, made under penalty of&nbsp;perjury, that the above information
                in&nbsp;Your notice is&nbsp;accurate and that You are the copyright owner or&nbsp;authorized to&nbsp;act
                on&nbsp;the copyright owner&rsquo;s behalf.
            </p>
        </li>
    </ul>
    <p class="terms__text">
        You can contact our copyright agent via email at&nbsp;<a href="mailto:info@foody.market"
            class="terms__link">info@foody.market</a>.
    </p>
    <p class="terms__text">
        Upon receipt of&nbsp;a&nbsp;notification, the Company will take whatever action, in&nbsp;its sole discretion,
        it&nbsp;deems appropriate, including removal of&nbsp;the challenged content from the Service.
    </p>
    <h4 class="terms__caption">
        Intellectual Property
    </h4>
    <p class="terms__text">
        The Service and its original content (excluding Content provided by&nbsp;You or&nbsp;other users), features and
        functionality are and will remain the exclusive property of&nbsp;the Company and its licensors.
    </p>
    <p class="terms__text">
        The Service is&nbsp;protected by&nbsp;copyright, trademark, and other laws of&nbsp;both the Country and foreign
        countries.
    </p>
    <p class="terms__text">
        Our trademarks and trade dress may not be&nbsp;used in&nbsp;connection with any product or&nbsp;service without
        the prior written consent of&nbsp;the Company.
    </p>
    <h4 class="terms__caption">
        Your Feedback to&nbsp;Us
    </h4>
    <p class="terms__text">
        You assign all rights, title and interest in&nbsp;any Feedback You provide the Company. If&nbsp;for any reason
        such assignment is&nbsp;ineffective, You agree to&nbsp;grant the Company a&nbsp;non-exclusive, perpetual,
        irrevocable, royalty free, worldwide right and licence to&nbsp;use, reproduce, disclose, sub-licence,
        distribute, modify and exploit such Feedback without restriction.
    </p>
    <h2 class="terms__subtitle">
        Links to&nbsp;Other Websites
    </h2>
    <p class="terms__text">
        Our Service may contain links to&nbsp;third-party web sites or&nbsp;services that are not owned
        or&nbsp;controlled by&nbsp;the Company.
    </p>
    <p class="terms__text">
        The Company has no&nbsp;control over, and assumes no&nbsp;responsibility for, the content, privacy policies,
        or&nbsp;practices of&nbsp;any third party web sites or&nbsp;services. You further acknowledge and agree that the
        Company shall not be&nbsp;responsible or&nbsp;liable, directly or&nbsp;indirectly, for any damage or&nbsp;loss
        caused or&nbsp;alleged to&nbsp;be&nbsp;caused by&nbsp;or&nbsp;in&nbsp;connection with the use
        of&nbsp;or&nbsp;reliance on&nbsp;any such content, goods or&nbsp;services available on&nbsp;or&nbsp;through any
        such web sites or&nbsp;services.
    </p>
    <p class="terms__text">
        We&nbsp;strongly advise You to&nbsp;read the terms and conditions and privacy policies of&nbsp;any third-party
        web sites or&nbsp;services that You visit.
    </p>
    <h2 class="terms__subtitle">
        Termination
    </h2>
    <p class="terms__text">
        We&nbsp;may terminate or&nbsp;suspend Your Account immediately, without prior notice or&nbsp;liability, for any
        reason whatsoever, including without limitation if&nbsp;You breach these Terms and Conditions.
    </p>
    <p class="terms__text">
        Upon termination, Your right to&nbsp;use the Service will cease immediately. If&nbsp;You wish to&nbsp;terminate
        Your Account, You may simply discontinue using the Service.
    </p>
    <h2 class="terms__subtitle">
        Limitation of&nbsp;Liability
    </h2>
    <p class="terms__text">
        Notwithstanding any damages that You might incur, the entire liability of&nbsp;the Company and any of&nbsp;its
        suppliers under any provision of&nbsp;this Terms and Your exclusive remedy for all of&nbsp;the foregoing shall
        be&nbsp;limited to&nbsp;the amount actually paid by&nbsp;You through the Service or&nbsp;100&nbsp;USD
        if&nbsp;You haven&rsquo;t purchased anything through the Service.
    </p>
    <p class="terms__text">
        To&nbsp;the maximum extent permitted by&nbsp;applicable law, in&nbsp;no&nbsp;event shall the Company or&nbsp;its
        suppliers be&nbsp;liable for any special, incidental, indirect, or&nbsp;consequential damages whatsoever
        (including, but not limited&nbsp;to, damages for loss of&nbsp;profits, loss of&nbsp;data or&nbsp;other
        information, for business interruption, for personal injury, loss of&nbsp;privacy arising out
        of&nbsp;or&nbsp;in&nbsp;any way related to&nbsp;the use of&nbsp;or&nbsp;inability to&nbsp;use the Service,
        third-party software and/or third-party hardware used with the Service, or&nbsp;otherwise in&nbsp;connection
        with any provision of&nbsp;this Terms), even if&nbsp;the Company or&nbsp;any supplier has been advised
        of&nbsp;the possibility of&nbsp;such damages and even if&nbsp;the remedy fails of&nbsp;its essential purpose.
    </p>
    <p class="terms__text">
        Some states do&nbsp;not allow the exclusion of&nbsp;implied warranties or&nbsp;limitation of&nbsp;liability for
        incidental or&nbsp;consequential damages, which means that some of&nbsp;the above limitations may not apply.
        In&nbsp;these states, each party&rsquo;s liability will be&nbsp;limited to&nbsp;the greatest extent permitted
        by&nbsp;law.
    </p>
    <h2 class="terms__subtitle">
        &laquo;AS&nbsp;IS&raquo; and &laquo;AS&nbsp;AVAILABLE&raquo; Disclaimer
    </h2>
    <p class="terms__text">
        The Service is&nbsp;provided to&nbsp;You &laquo;AS&nbsp;IS&raquo; and &laquo;AS&nbsp;AVAILABLE&raquo; and with
        all faults and defects without warranty of&nbsp;any kind. To&nbsp;the maximum extent permitted under applicable
        law, the Company, on&nbsp;its own behalf and on&nbsp;behalf of&nbsp;its Affiliates and its and their respective
        licensors and service providers, expressly disclaims all warranties, whether express, implied, statutory
        or&nbsp;otherwise, with respect to&nbsp;the Service, including all implied warranties of&nbsp;merchantability,
        fitness for a&nbsp;particular purpose, title and non-infringement, and warranties that may arise out
        of&nbsp;course of&nbsp;dealing, course of&nbsp;performance, usage or&nbsp;trade practice. Without limitation
        to&nbsp;the foregoing, the Company provides no&nbsp;warranty or&nbsp;undertaking, and makes
        no&nbsp;representation of&nbsp;any kind that the Service will meet Your requirements, achieve any intended
        results, be&nbsp;compatible or&nbsp;work with any other software, applications, systems or&nbsp;services,
        operate without interruption, meet any performance or&nbsp;reliability standards or&nbsp;be&nbsp;error free
        or&nbsp;that any errors or&nbsp;defects can or&nbsp;will be&nbsp;corrected.
    </p>
    <p class="terms__text">
        Without limiting the foregoing, neither the Company nor any of&nbsp;the company&rsquo;s provider makes any
        representation or&nbsp;warranty of&nbsp;any kind, express or&nbsp;implied: (i) as&nbsp;to&nbsp;the operation
        or&nbsp;availability of&nbsp;the Service, or&nbsp;the information, content, and materials or&nbsp;products
        included thereon; (ii) that the Service will be&nbsp;uninterrupted or&nbsp;error-free; (iii) as&nbsp;to&nbsp;the
        accuracy, reliability, or&nbsp;currency of&nbsp;any information or&nbsp;content provided through the Service;
        or&nbsp;(iv) that the Service, its servers, the content, or&nbsp;e-mails sent from or&nbsp;on&nbsp;behalf
        of&nbsp;the Company are free of&nbsp;viruses, scripts, trojan horses, worms, malware, timebombs or&nbsp;other
        harmful components.
    </p>
    <p class="terms__text">
        Some jurisdictions do&nbsp;not allow the exclusion of&nbsp;certain types of&nbsp;warranties or&nbsp;limitations
        on&nbsp;applicable statutory rights of&nbsp;a&nbsp;consumer, so&nbsp;some or&nbsp;all of&nbsp;the above
        exclusions and limitations may not apply to&nbsp;You. But in&nbsp;such a&nbsp;case the exclusions and
        limitations set forth in&nbsp;this section shall be&nbsp;applied to&nbsp;the greatest extent enforceable under
        applicable law.
    </p>
    <h2 class="terms__subtitle">
        Governing Law
    </h2>
    <p class="terms__text">
        The laws of&nbsp;the Country, excluding its conflicts of&nbsp;law rules, shall govern this Terms and Your use
        of&nbsp;the Service. Your use of&nbsp;the Application may also be&nbsp;subject to&nbsp;other local, state,
        national, or&nbsp;international laws.
    </p>
    <h2 class="terms__subtitle">
        Disputes Resolution
    </h2>
    <p class="terms__text">
        If&nbsp;You have any concern or&nbsp;dispute about the Service, You agree to&nbsp;first try to&nbsp;resolve the
        dispute informally by&nbsp;contacting the Company.
    </p>
    <h2 class="terms__subtitle">
        For European Union (EU) Users
    </h2>
    <p class="terms__text">
        If&nbsp;You are a&nbsp;European Union consumer, you will benefit from any mandatory provisions of&nbsp;the law
        of&nbsp;the country in&nbsp;which you are resident&nbsp;in.
    </p>
    <h2 class="terms__subtitle">
        United States Legal Compliance
    </h2>
    <p class="terms__text">
        You represent and warrant that (i) You are not located in&nbsp;a&nbsp;country that is&nbsp;subject to&nbsp;the
        United States government embargo, or&nbsp;that has been designated by&nbsp;the United States government
        as&nbsp;a&nbsp;&laquo;terrorist supporting&raquo; country, and (ii) You are not listed on&nbsp;any United States
        government list of&nbsp;prohibited or&nbsp;restricted parties.
    </p>
    <h2 class="terms__subtitle">
        Severability and Waiver
    </h2>
    <h4 class="terms__caption">
        Severability
    </h4>
    <p class="terms__text">
        If&nbsp;any provision of&nbsp;these Terms is&nbsp;held to&nbsp;be&nbsp;unenforceable or&nbsp;invalid, such
        provision will be&nbsp;changed and interpreted to&nbsp;accomplish the objectives of&nbsp;such provision
        to&nbsp;the greatest extent possible under applicable law and the remaining provisions will continue
        in&nbsp;full force and effect.
    </p>
    <h4 class="terms__caption">
        Waiver
    </h4>
    <p class="terms__text">
        Except as&nbsp;provided herein, the failure to&nbsp;exercise a&nbsp;right or&nbsp;to&nbsp;require performance
        of&nbsp;an&nbsp;obligation under this Terms shall not effect a&nbsp;party&rsquo;s ability to&nbsp;exercise such
        right or&nbsp;require such performance at&nbsp;any time thereafter nor shall be&nbsp;the waiver
        of&nbsp;a&nbsp;breach constitute a&nbsp;waiver of&nbsp;any subsequent breach.
    </p>
    <h2 class="terms__subtitle">
        Translation Interpretation
    </h2>
    <p class="terms__text">
        These Terms and Conditions may have been translated if&nbsp;We have made them available to&nbsp;You on&nbsp;our
        Service.
    </p>
    <p class="terms__text">
        You agree that the original English text shall prevail in&nbsp;the case of&nbsp;a&nbsp;dispute.
    </p>
    <h2 class="terms__subtitle">
        Changes to&nbsp;These Terms and Conditions
    </h2>
    <p class="terms__text">
        We&nbsp;reserve the right, at&nbsp;Our sole discretion, to&nbsp;modify or&nbsp;replace these Terms at&nbsp;any
        time. If&nbsp;a&nbsp;revision is&nbsp;material&nbsp;We will make reasonable efforts to&nbsp;provide
        at&nbsp;least 30&nbsp;days&rsquo; notice prior to&nbsp;any new terms taking effect. What constitutes
        a&nbsp;material change will be&nbsp;determined at&nbsp;Our sole discretion.
    </p>
    <p class="terms__text">
        By&nbsp;continuing to&nbsp;access or&nbsp;use Our Service after those revisions become effective, You agree
        to&nbsp;be&nbsp;bound by&nbsp;the revised terms. If&nbsp;You do&nbsp;not agree to&nbsp;the new terms,
        in&nbsp;whole or&nbsp;in&nbsp;part, please stop using the website and the Service.
    </p>
    <h2 class="terms__subtitle">
        Contact Us
    </h2>
    <p class="terms__text">
        If&nbsp;you have any questions about these Terms and Conditions, You can contact&nbsp;us:
    </p>
    <ul class="terms__list">
        <li class="terms__item">
            <p class="terms__text">
            <p class="terms__text"><span class="terms__text--strong">By&nbsp;email:</span> <a
                    href="mailto:info@foody.market" class="terms__link">info@foody.market</a></p>
            </p>
        </li>
</article>