<ul class="advantages {{#if isrest}}advantages--rest{{/if}}">
    {{#each advantage }}
        <li class="advantages__item">
            <img class="advantages__icon" src="%=static=%img/minified-svg/fdy_ico_{{icon}}.svg" alt="{{icon}}">
            <h3 class="advantages__title">
                {{{ title }}}
            </h3>
            {{#if text}}
                <p class="advantages__text">
                    {{{ text }}}
                </p>
            {{/if}}
        </li>
    {{/each}}
</ul>